body {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #ddd;
    --hover-color: #ffd100;
    --visited-color: #ddd;
}

body {
    background-color: #1a1a1a;
    color: #ddd;
    font-family: "Open Sans";
}

a {
   color: var(--main-color);
}

a:visited {
    color: var(--visited-color);
}

a:hover {
    color: var(--hover-color);
}

* {
    font-weight: 100;
    margin: 0px;
    padding: 0px;
}
