:root {
    --main-color: #ffe573;
    --hover-color: #ffd100;
    --visited-color: #ddd;
}

body {
    background-color: #1a1a1a;
    color: #ddd;
    font-family: "Open Sans";
}

a {
   color: var(--main-color);
   text-decoration: none;
   border-bottom: 1px solid #ffd100;
}

a:visited {
    color: var(--visited-color);
    border-bottom: 1px solid #ddd;
}

a:hover {
    color: var(--hover-color);
    border-bottom: 1px solid #ffd100;
}

* {
    font-weight: 100;
}
